.emoji1 {
  font-size: 20px;
}

.emoji2 {
  font-size: 40px;
}
.emoji3 {
  font-size: 60px;
}

.emoji4 {
  font-size: 80px;
}

.emoji5 {
  font-size: 100px;
}

.emoji6 {
  font-size: 120px;
}

.emoji7 {
  font-size: 140px;
}

.emoji8 {
  font-size: 160px;
}

.emoji9 {
  font-size: 180px;
}

.emoji10 {
  font-size: 200px;
}
